@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

* {
  box-sizing: border-box;
	margin: 0; 
	z-index: 1;
	font-family: 'Nunito', sans-serif;
}

*:focus {
	outline: none;
}

html, body {
	height: 100%;
	background-color: #ddecf2;
	text-align: center;
}

nav {
	width: 100%;
	background-color: #b1d9f2;
	display: flex;
	align-items: center;
	height: 70px;
	font-size: 22px;
	color: #545453;
	position: fixed;
	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 10%);
	z-index: 2;
	top: 0;
	left: 0;
}

nav .left {
	margin-left: 40px;
	cursor: pointer;
	transition-duration: 0.4s;
}

nav .left:hover {
	color: #121212;
}

nav .logo {
	margin-left: 30px;
	display: flex;
}

nav .logo .circle {
	width: 30px;
	height: 30px;
	position: relative;
	border-radius: 50%;
}

nav .logo .circle.left {
	background-color: #aaa;
}

nav .logo .circle.center {
	background-color: #3a94ba;
	left: -10px;
	z-index: 2;
}

nav .logo .circle.right {
	background-color: #fdfdfd;
	left: -20px;
}

nav .name {
	margin-left: -10px;
}

nav .left.active {
	color: #121212;
}

nav .cta {
	margin-left: auto;
	margin-right: 30px;
	padding: 8px;
	border-radius: 8px;
	background: linear-gradient(180deg, rgba(60,148,186,1) 9%, rgba(2,155,223,1) 72%);
	color: #fdfdfd;
	transition-duration: 0.5s;
}

nav .cta:hover {
	background: linear-gradient(180deg, rgb(55, 131, 164) 9%, rgb(11, 112, 157) 72%);
	color: #fdfdfd;
}

#main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
	padding-top: 200px;
	padding-bottom: 200px;
}

.title {
	font-size: 40px;
}

.subtitle {
	color: #545453;
	margin-top: 20px;
	font-size: 20px;
}

.subtitle .contact {
	color: #3c94ba;
	cursor: pointer;
	transition-duration: 0.2s;
}

.subtitle .contact:hover {
	color: #2d718e;
}
 
.container {
	display: flex;
	gap: 15px;
	margin-top: 100px;
}

.card {
	width: 350px;
	height: 500px;
	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 5%);
	background-color: #fdfdfd;
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #545453;
	line-height: 35px;
	font-size: 17px;
	transition-duration: 0.5s;
}

.card:hover {
	transform: scale(1.05);
}

.card.left {
	animation: fadeInLeft 3s;
}

@keyframes fadeInLeft {
	0% { opacity: 0; }
	33% { opacity: 1; }
	66% { opacity: 1; }
	100% { opacity: 1; }
}

.card.center {
	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 15%);
	border: none;	  
	transform: scale(1.2);
	z-index: 2;
	background: rgb(60,148,186);
	background: linear-gradient(180deg, rgba(60,148,186,1) 9%, rgba(2,155,223,1) 72%);
	color: #fdfdfd;
	animation: fadeInCenter 4s;
}

.card.center:hover {
	transform: scale(1.25);
}

.card.center {
	animation: fadeInCenter 3s;
}

@keyframes fadeInCenter {
	0% { opacity: 0; }
	33% { opacity: 0; }
	66% { opacity: 0; }
	100% { opacity: 1; }
}

.card.right {
	animation: fadeInRight 3s;
}

@keyframes fadeInRight {
	0% { opacity: 0; }
	33% { opacity: 0; }
	66% { opacity: 1; }
	100% { opacity: 1; }
}

.card .top {
	background-color: #b1d9f2;
	width: 100%;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	text-align: center;
	padding: 15px;
	margin-bottom: 20px;
}

.card.center .top {
	background-color: inherit;
}

.card .icon {
	font-size: 32px;
	color: #3c94ba;
}

.card.center .icon {
	color: #fdfdfd;
}

h3 {
	font-size: 30px;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #121212;
}

.card.center h3 {
	color: #fdfdfd;
}

.card .container {
	display: flex;
	align-items: center;
	margin-top: 0;
}

.card .container .icon {
	font-size: 20px;
}

.price {
	font-family: 'MuseoModerno', cursive;
	font-size: 40px;
	margin-top: 20px;
}

.price .small {
	font-size: 15px;
}

.price .small.dollarSign {
	position: relative;
	bottom: 20px;
}

button {
	box-shadow: inset 0 -3px #aaa;
	cursor: pointer;
	margin-top: 30px;
	width: 210px;
	height: 40px;
	font-size: 20px;
	border-radius: 4px;
  position: relative;
	border: none;
	background-color: #b1d9f2;
	transition: background-color 0.1s;
}

button:hover {
	background-color: #029bdfa6;
}

button:active {
	top: 2px; 
	box-shadow: inset 0 -1px #858585;
}

.card.center button {
	background-color: #fdfdfd;
}

.card.center button:hover {
	background-color: #d2d2d2;
}
button .name {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 24px;
}

@media only screen and (max-width: 1000px) {
	html, body {
		height: auto;
		padding: 50px;
	}
	
	.container {
		flex-direction: column;	
		gap: 40px;
	}

	.card .container {
		flex-direction: row;
	}
}

@media only screen and (max-width: 600px) {
	nav {
		font-size: 18px;
		justify-content: center;
	}

	nav .left {
		margin-left: 10px;
	}
	
	nav .logo .circle {
		width: 25px;
		height: 25px;
	}

	nav .left.name {
		margin-left: 0;
	}
}

@media only screen and (max-width: 400px) {
	html, body {
		padding: 20px;
	}

	.card.center {
		transform: scale(1.05);
	}

	.card.center:hover {
		transform: scale(1.09);
	}
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #b1d9f1; 
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(180deg, rgba(60,148,186,1) 9%, rgba(2,155,223,1) 72%);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(180deg, rgb(55, 131, 164) 9%, rgb(11, 112, 157) 72%);
} 

/* STYLES FOOTER */

footer {
    background-color: rgb(53, 63, 84);
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    text-align: center;
    font-family: Montserrat;
    color: #fff;
}

